body {
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  border: 10px saddlebrown black;
}

.red {
  background-color: rgb(234, 67, 53);
}

.yellow {
  background-color: rgb(251, 188, 5);
}

.green {
  background-color: rgb(52, 168, 83);
}

.blue {
  background-color: rgb(66, 133, 244);
}

.gameflash {
  background-color: white;
}

.userflash {
  background-color: grey;
}
